body.uploader,
html {
  background: #f0f0f0;
}
#LoaderOverlay {
  display: none;
  width: 100%;
  height: 500px;
  position: absolute;
  background: url(spinner.gif) center center no-repeat #f0f0f0;
  z-index: 0;
  opacity: 0;
  -moz-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  -o-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  -webkit-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  transition: opacity 2s cubic-bezier(1, 0, 1, 1);
}
.loading {
  width: 100%;
  height: 150px;
  position: absolute;
  background: url(spinner.gif) center center no-repeat #f0f0f0;
}
.main {
  opacity: 1;
  padding-bottom: 30px;
}
.waitForIt #LoaderOverlay {
  opacity: 1;
  display: block;
  z-index: 12;
}
.waitForIt .main {
  display: none;
  opacity: 0;
  -moz-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  -o-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  -webkit-transition: opacity 2s cubic-bezier(1, 0, 1, 1);
  transition: opacity 2s cubic-bezier(1, 0, 1, 1);
}
.uploader .container {
  background-color: #fff;
}
.progress {
  margin-top: 20px;
}
.progress .progress-bar {
  min-width: 2em;
}
